@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Inconsolata", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #cccccc;
  background: #000;
  height: 100%;
  position: relative;
}

a {
  color: #8C7676;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #8C7676;
  outline: none;
}

p {
  margin-bottom: 1.5em;
  font-size: 16px;
}

 h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Inconsolata", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}
h1 {
font-family: 'MuseoModerno', cursive;
background: -webkit-linear-gradient(#38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




::-webkit-selection {
  color: #fff;
  background: #8C7676;
}

::-moz-selection {
  color: #fff;
  background: #8C7676;
}

::selection {
  color: #fff;
  background: #8C7676;
}

.navbar-collapse {
  border: none !important;
}

#fh5co-header {
  position: absolute;
  z-index: 999999;
  width: 100%;
  opacity: 1;
  top: 0;
  float: left;
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
  display: table;
}
#fh5co-header #navbar {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-header #navbar li {
  width: 16px;
  height: 16px;
  display: block !important;
  margin: 15px 0;
  clear: both;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #fh5co-header #navbar li {
    margin-left: 10px !important;
  }
}
#fh5co-header #navbar li a {
  font-family: "Inconsolata", Arial, sans-serif;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  width: 12px;
  height: 12px !important;
  text-indent: -999999px;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a:hover {
  color: #000;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active {
  width: 16px;
  height: 16px;
  background: #fff;
}
#fh5co-header #navbar li.active a {
  background: #000;
  background: none;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #8C7676;
  }
}
#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-left: 28px;
  color: #535659;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
#fh5co-header .navbar-brand:after, #fh5co-header .navbar-brand:before {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: -12px;
  margin-left: 0px;
  bottom: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-header .navbar-brand:before {
  left: 0px;
  background: rgba(140, 118, 118, 0.8);
}
#fh5co-header .navbar-brand > span {
  color: #8C7676;
}
@media screen and (max-width: 992px) {
  #fh5co-header .navbar-brand {
    padding-left: 55px !important;
    padding-right: 0 !important;
  }
  #fh5co-header .navbar-brand:after, #fh5co-header .navbar-brand:before {
    margin-left: 25px;
  }
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #535659;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #8C7676;
}
@media screen and (max-width: 992px) {
  #fh5co-header.navbar-fixed-top #navbar li a {
    font-size: 20px;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #8C7676 !important;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #8C7676 !important;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #8C7676;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header .navbar-default {
  border: transparent;
  background: transparent;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#fh5co-home {
  background-color: transparent;
  background-size: cover;
  position: relative;
  width: 100%;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #fh5co-home {
    background-position: center center;
    background-attachment: initial;
  }
}
@media screen and (max-width: 480px) {
  .core-features .grid2 .core-f { 
    padding:0px 40px 0px 40px!important
}
}

@media screen and (max-width: 480px) {
  .core-features { 
    margin-top:0px!important;
}
}

#fh5co-home a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
#fh5co-home a:hover {
  color: #fff;
  text-decoration: none;
}
#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
#fh5co-home, #fh5co-home .text-wrap {
  height: 900px;
}
@media screen and (max-width: 768px) {
  #fh5co-home, #fh5co-home .text-wrap {
   background-position:none;
   height:720px;
  }
}
#fh5co-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#fh5co-home .text-inner {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-home .text-inner h1 {
  font-size: 70px;
  margin: 0 0 30px 0;
  color: #fff;
  font-family: 'MuseoModerno', cursive;
  font-weight:400;
}
#fh5co-home .text-inner h1 span {
  color: #8C7676;
}
@media screen and (max-width: 768px) {
  #fh5co-home .text-inner h1 {
    font-size: 40px;
  }
}
#fh5co-home .text-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 60px 0;
}

#fh5co-services,
#f5hco-reconnect,
#fh5co-explore,
#fh5co-team,
#fh5co-footer,
#fh5co-work,
#fh5co-counters,
#fh5co-pricing {
  padding: 2em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-explore,
  #f5hco-reconnect,
  #fh5co-team,
  #fh5co-footer,
  #fh5co-work,
  #fh5co-counters,
  #fh5co-pricing {
    padding: 3em 0;
  }
}

#fh5co-services,
#f5hco-reconnect {
  padding-bottom: 0;
}

.fh5co-explore {
  padding-bottom: 40px;
}

.fh5co-project .project-grid {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 30px;
 
}
@media screen and (max-width: 768px) {
  .fh5co-project .project-grid {
    height: 400px;
  }
}
.fh5co-project .project-grid .desc {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 250px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .fh5co-project .project-grid .desc {
    opacity: 1;
  }
}
.fh5co-project .project-grid .desc h3 {
  margin-bottom: 10px;
}
.fh5co-project .project-grid .desc h3 a {
  color: #fff;
}
.fh5co-project .project-grid .desc h3 a:hover, .fh5co-project .project-grid .desc h3 a:focus {
  text-decoration: none;
}
.fh5co-project .project-grid .desc span {
  font-size: 12px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 2px;
}
.fh5co-project .project-grid .desc p {
  padding: 0;
}
.fh5co-project .project-grid .desc p a {
  padding: 0;
  color: #fff;
}
.fh5co-project .project-grid .desc p a:hover, .fh5co-project .project-grid .desc p a:focus {
  text-decoration: none;
}
.fh5co-project .project-grid:hover .desc {
  opacity: 1;
}

.getting-started {
  background: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.getting-started .getting-grid {
  background-size: cover;

  position: relative;
  width: 100%;
;
}
.getting-started .getting-grid .desc {
  width: 100%;
  vertical-align: middle;
  padding: 0 3em;
}

@media screen and (max-width: 768px) {
  .getting-started .getting-grid .desc {
  padding-top:10em;

}
}

@media screen and (max-width: 768px) {
  #fh5co-footer {
  padding:1em;

}
}


.getting-started h2 {
  color: #fff;
  margin-bottom: 10px;
}
.getting-started p {
  color: rgba(255, 255, 255, 0.8);
}

#fh5co-pricing .price-box {
  border: 2px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
#fh5co-pricing .price-box.popular {
  border: 2px solid #8C7676;
}
#fh5co-pricing .price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -65px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #8C7676;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-pricing .price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #8C7676;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#fh5co-pricing .price-box hr {
  border: 1px solid #1a1a1a;
}
#fh5co-pricing .pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#fh5co-pricing .price {
  font-size: 50px;
  color: #fff;
}
#fh5co-pricing .price .currency {
  font-size: 20px;
  top: -1.2em;
}
#fh5co-pricing .price small {
  font-size: 16px;
}
#fh5co-pricing .pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
#fh5co-pricing .pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.core-features {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
}
.core-features .grid2 {
  width: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .core-features .grid2 {
    width: 100%;
  }
}
.core-features .grid2 .core-f {
  padding: 40px;
}
.core-features .grid2 .core-f h3 {
  margin-bottom: 10px;
}
.core-features .grid2 .core-f .core {
  margin-bottom: 2em;
}
.core-features .grid2 .core-f .core i {
  float: left;
  color: #8C7676;
  font-size: 28px;
}
.core-features .grid2 .core-f .core .fh5co-post {
  padding-left: 50px;
}

.fh5co-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 30px;
  display: block;
  color: white;
  font-family: "Inconsolata", Arial, sans-serif;
  width: 100%;
  font-weight: 400;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: block;
}

#fh5co-team .team-box {
  position: relative;
  padding: 30px;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  #fh5co-team .team-box {
    margin-bottom: 110px;
  }
}
#fh5co-team .team-box .user {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}
#fh5co-team .team-box .user img {
  width: 80%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-team .team-box h3 {
  margin-bottom: 10px;
  font-weight: 700;
}
#fh5co-team .team-box .position {
  font-size: 16px;
  color: #8f989f;
  display: block;
  margin-bottom: 30px;
}
#fh5co-team .team-box .social-media {
  margin: 0;
  padding: 0;
}
#fh5co-team .team-box .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#fh5co-team .team-box .social-media li a {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-team .team-box .social-media li a:hover, #fh5co-team .team-box .social-media li a:focus, #fh5co-team .team-box .social-media li a:active {
  text-decoration: none;
  color: #8C7676 !important;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.section-heading h2 {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  padding-bottom: 10px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}
.section-heading h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  display: block;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}

#fh5co-footer {
  color: rgba(255, 255, 255, 0.6);
}
#fh5co-footer a {
  color: rgba(255, 255, 255, 0.6);
}
#fh5co-footer a:hover {
  color: #fff !important;
  text-decoration: underline;
}
#fh5co-footer .section-title {
  font-size: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
#fh5co-footer .copy-right {
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
}
#fh5co-footer .copy-right > a {
  color: rgba(255, 255, 255, 0.6);
}
#fh5co-footer .contact-info {
  margin: 0 0 60px 0;
  padding: 0;
}
#fh5co-footer .contact-info li {
  font-size: 16px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
#fh5co-footer .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #8C7676;
}
#fh5co-footer .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}
#fh5co-footer .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#fh5co-footer .social-media li a {
  color: #8C7676;
}
#fh5co-footer .social-media li a:hover, #fh5co-footer .social-media li a:focus, #fh5co-footer .social-media li a:active {
  text-decoration: none;
}
#fh5co-footer .contact-form .form-group input[type="name"],
#fh5co-footer .contact-form .form-group input[type="text"],
#fh5co-footer .contact-form .form-group input[type="email"],
#fh5co-footer .contact-form .form-group textarea {
  font-size: 16px;
}
#fh5co-footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-footer .contact-form .form-group input {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
#fh5co-footer .contact-form .form-group textarea {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
#fh5co-footer #btn-submit {
  color: rgba(255, 255, 255, 0.9) !important;
  background: #8C7676 !important;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #8C7676;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #8C7676;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #8C7676;
  color: #fff;
}
.social li a.social-circle {
  background: #8C7676;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #8C7676;
  color: #fff;
}
.social.social-circle a {
  background: #8C7676;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */

.center {
  margin: 0 auto;
}

.outer-ring {
  position: relative;
  height: 120px;
  width: 120px;
  background-image: linear-gradient(135deg, #000 0%, #000 5%, #000 15%, #38ef7d 50%, #11998e 100%);
  border-radius: 50%;
  
  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  filter: blur(1.5rem);
}

.inner-ring {
  position: relative;

  top:-115px;
  height: 110px;
  width: 110px;
  background-image:url("../images/Wakati_Logo_round.png");
  border-radius: 50%;
  background-repeat:round;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.header {
height: 100%;
overflow: hidden;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
align-items: center;
}

.m-t-80 {
  margin-top:80px;
}

.layer {
  background-color: rgba(248, 247, 216, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  top:0px;
}

.no-mp-bottom {
  margin-bottom:0px;
  padding-bottom:0px!important;
}

#lang {
  float:right;
  right:10px;
  top:10px;
  position:absolute;
}

.whitelink {
  color:#fff;
}